services:
  backend:
    build: ./server
    container_name: healthcare-backend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production

  frontend:
    build: ./client/healthcare
    container_name: healthcare-frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=/api
    depends_on:
      - backend
  nginx:
    image: nginx:alpine
    container_name: healthcare-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
    restart: unless-stopped